/* ===UNIVERSAL SELECTOR=== */
* {
  font-family: sans-serif
}

/* ===ELEMENT SELECTORS=== */
h1 {
  text-align: center
}

/* ===ID SELECTORS=== */

/* Here we hide the section with id question2 until further notice */
#question2 {
  display: none
}

#answers {
  display: none
}

/* Here we hide the section with the end page until further notice */
#endPage {
  display: none
}

/* Here we hide the section with the correct banner until further notice */
#correct {
  display: none
}

/* Here we hide the section with the incorrect banner until further notice */
#incorrect {
  display: none
}

/* Here we position the timer at the top right corner of the page */
#timer {
  position: relative;
  top: -25px;
  left: 90%;
}

/* Here we position the space where the question will go */
#buttonDiv {
  display: none
}

/* Styling the start button */
#startButton {
  background-color: violet;
  color: white;
  padding: 10px;
  position: relative;
  left: 50%
}

/* Styling the other buttons */
.buttonStyle {
  background-color: violet;
  color: white;
  padding: 10px;
  position: relative;

}